<footer class="footer">
    <div class="footer__block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h4 class="heading">Lodge Address</h4>
                    <h5>Denham Springs Masonic Lodge #297</h5>
                    <p>313 Benton St.<br />Denham Springs, LA 70726</p>

                    <h4 class="heading">Site Navigation</h4>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="trestleboard.html">Trestleboard</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4 class="heading">Contact Us</h4>
                    <p class="social social--big"><a href="https://www.facebook.com/Denham-Springs-Masonic-Lodge-893098987528316/" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="mailto:dsmasoniclodge@gmail.com" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h4 class="heading">2018 Lodge Officers</h4>
                    <p>
                        Worshipful Master - Alton Sullivan<br />
                        Senior Warden - David Hooter<br />
                        Junior Warden - Jason Allen<br />
                        Treasurer - Joe Shumate, PM<br />
                        Secretary - William Ronnie Coon, PM<br />
                        Chaplain - Mickey Brandon, PM<br />
                        Senior Deacon - James Lucas<br />
                        Junior Deacon - Dean Quave<br />
                        Master of Ceremonies - Scott Knight<br />
                        Senior Steward - Rankin Miley<br />
                        Junior Steward - Dustin Jones<br />
                        Tyler - Brian Watson, PM
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy;2018 D.S. Masonic Lodge #297</p>
                </div>
                <div class="col-md-6">
                    <p class="credit">Designed by <a href="mailto:scottknight@protonmail.com">Scott Knight</a> with <a href="https://bootstrapious.com/e-commerce-templates" class="external">Bootstrapious</a></p>
                    <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </div>
</footer>