<footer class="footer">
    <div class="footer__block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h4 class="heading">Lodge Address</h4>
                    <h5>Denham Springs Masonic Lodge #297</h5>
                    <p>313 Benton St.<br />Denham Springs, LA 70726</p>

                    <h4 class="heading">Site Navigation</h4>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="photos.html">Photos</a></li>
                        <li><a href="trestleboard.html">Trestleboard</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4 class="heading">Contact Us</h4>
                    <p class="social social--big"><a href="https://www.facebook.com/Denham-Springs-Masonic-Lodge-893098987528316/" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="mailto:dsmasoniclodge@gmail.com" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
                    <h4 class="heading">Make a Donation</h4>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="FPDLULXH6WC8C">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h4 class="heading">2020 Lodge Officers</h4>
                    <p>
                        <strong>Worshipful Master</strong> - Scott Knight<br />
                        <strong>Senior Warden</strong> - Joseph Rabb<br />
                        <strong>Junior Warden</strong> - David Groce<br />
                        <strong>Treasurer</strong> - Joe Shumate, PM<br />
                        <strong>Secretary</strong> - W. Ronnie Coon, PM<br />
                        <strong>Chaplain</strong> - Larry Evans, PM<br />
                        <strong>Senior Deacon</strong> - Jim Wingate, PM<br />
                        <strong>Junior Deacon</strong> - John Dillon<br />
                        <strong>Master of Ceremonies</strong> - Seth Edelmann<br />
                        <strong>Senior Steward</strong> - Rankin Miley<br />
                        <strong>Junior Steward</strong> - Donald Roberson<br />
                        <strong>Tyler</strong> - Brian Watson, PM
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy;2019-2020 D.S. Masonic Lodge #297</p>
                </div>
                <div class="col-md-6">
                    <p class="credit">Designed by <a href="https://scottknight.co">Scott Knight</a> with <a href="https://bootstrapious.com/e-commerce-templates" class="external">Bootstrapious</a></p>
                    <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </div>
</footer>