<header class="header">
    <div role="navigation" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand">D.S. Masonic Lodge #297</a>
                <div class="navbar-buttons">
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
                </div>
            </div>
            <div id="navigation" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li id="index"><a href="index.html">Home</a></li>
                    <li id="about"><a href="about.html">About</a></li>
                    <li id="trestleboard"><a href="trestleboard.html">Trestleboard</a></li>
                    <li id="contact"><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>